<div class="association-list shadow dashboard-component px-3 py-4">
    <div class="header mb-3 px-2 py-1">
        <h3>Liste des associations</h3>
        <button type="button" class="btn create-association" data-bs-toggle="modal" data-bs-target="#insert-modal">
            {% for type, message in app.flashes %}
                
                <h2>{{ message | join(".") }}</h2>
                
            {% endfor %}
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30">
                <path d="M15 3C14.168432 3 13.456063 3.5067238 13.154297 4.2285156L2.3007812 22.947266L2.3027344 22.951172C2.1137952 23.256561 2 23.614318 2 24C2 25.105 2.895 26 4 26C4.0469265 26 4.0906022 25.989504 4.1367188 25.986328L4.1445312 26L15 26L25.855469 26L25.863281 25.986328C25.909398 25.989504 25.953074 26 26 26C27.105 26 28 25.105 28 24C28 23.614318 27.886205 23.256561 27.697266 22.951172L27.699219 22.947266L16.845703 4.2285156C16.543937 3.5067238 15.831568 3 15 3 z M 13.787109 11.359375L16.212891 11.359375L16.011719 17.832031L13.988281 17.832031L13.787109 11.359375 z M 15.003906 19.810547C15.825906 19.810547 16.318359 20.252813 16.318359 21.007812C16.318359 21.748812 15.825906 22.189453 15.003906 22.189453C14.175906 22.189453 13.679688 21.748813 13.679688 21.007812C13.679688 20.252813 14.174906 19.810547 15.003906 19.810547 z" fill="#F74A44" />
            </svg>
            <span>Nouvelle association</span>
        </button>
    </div>
    <!-- Liste des associations -->
    <form id="deleteForm" method="POST" class="list-section" >
        <table id="list-association" class="table table-striped">
            <thead>
                <tr>               
                    <th>#</th>
                    <th>Nom</th>
                    <th>Nom du président(e)</th>
                    <th>Contact</th>
                    <th>District</th>
                    <th>Region</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for association in associations %}
                    <tr>
                        <td>{{ association.id }}</td>
                        <td>{{ association.nom }}</td>
                        <td>{{ association.nomPresident }}</td>
                        <td>{{ association.contact }}</td>
                        <td>{{ association.commune.district.getNom() }}</td>
                        <td>{{ association.commune.district.region.getNom() }}</td>
                        <td>
                            <a href={{ path("association_femme.edit", {id: association.id}) }} class="btn btn-success btn-sm me-2">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pen" viewBox="0 0 16 16">
                                    <path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001m-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708z"/>
                                </svg>
                            </a>
                            <a href={{ path("association_femme.delete", {id: association.id}) }} class="btn btn-danger btn-sm" onclick="return confirm('Êtes-vous sûr de vouloir supprimer cette association ?');">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                    <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"/>
                                    <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"/>
                                </svg>
                            </a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="8" class="text-center">Aucune association trouvée</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </form>
</div>

{# Incorporation du DataTable #}
<script>
    new DataTable('#list-association');
</script>