{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href={{ asset("style/app/security.css") }}>
{% endblock %}

{% block body %}
    <div class="container">
        <div class="register-navbar">
            <a class="btn action-button" href={{ path("app_login") }}>
                <span>&larr;</span>
                <span>Se connecter</span>
            </a>
        </div>
        <div class="register-section shadow py-4 px-5">
            <h3>Register</h3>

            <div class="register-flash">
                {{ form_errors(registrationForm) }}
            </div>

            {{ form_start(registrationForm) }}  
            <div class="register-form row pt-4">
                <div class="col-md-12 col-lg-6">
                    {{ form_row(registrationForm.matricule) }}
                    {{ form_row(registrationForm.name) }}
                    {{ form_row(registrationForm.firstname) }}
                    {{ form_row(registrationForm.pseudonyme) }}
                    {{ form_row(registrationForm.email) }}
                </div>
                <div class="col-md-12 col-lg-6 d-flex flex-column">
                    {{ form_row(registrationForm.directions) }}
                    {{ form_row(registrationForm.services) }}
                    {{ form_row(registrationForm.fonction) }}
                    {{ form_row(registrationForm.plainPassword, {
                        class: "",
                        label: 'Password'
                    }) }}
                    <button type="submit" class="mt-4 py-2 btn btn-sm btn-success">S'inscrire</button>
                </div>
            </div>
            {{ form_end(registrationForm) }}
        </div>
    </div>

    <script src={{ asset("js/authentication/registration.js") }}></script>
{% endblock %}
