{# Load stylesheet #}
<link rel="stylesheet" href={{ asset('style/partials/navbar.css') }}>

{# Body of the navbar menu #}
<nav class="flex gap-4 p-3">
    <div>
        <a class="report-button d-flex justify-content-center text-decoration-none align-items-center gap-3 p-2 rounded">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 128 128" width="15" height="15">
                <path d="M86,6L32,6c-7.2,0-13,5.8-13,13v90c0,7.2,5.8,13,13,13h64c7.2,0,13-5.8,13-13V29c0-6.1-2.4-11.9-6.7-16.3S92.1,6,86,6z M48,92c0,1.7-1.3,3-3,3h-8c-1.7,0-3-1.3-3-3V74c0-1.7,1.3-3,3-3h8c1.7,0,3,1.3,3,3V92z M71,92c0,1.7-1.3,3-3,3h-8 c-1.7,0-3-1.3-3-3V54c0-1.7,1.3-3,3-3h8c1.7,0,3,1.3,3,3V92z M94,92c0,1.7-1.3,3-3,3h-8c-1.7,0-3-1.3-3-3V64c0-1.7,1.3-3,3-3h8 c1.7,0,3,1.3,3,3V92z M96,26c-3.9,0-7-3.1-7-7l0-6.7c3.4,0.6,6.5,2.2,9,4.7c2.5,2.5,4.1,5.6,4.7,9H96z" fill="#FFFFFF" />
            </svg>
        </a>
    </div>
    <div class="user-count" id="userCount">
        <div class="user-profile d-flex align-items-center justify-content-center gap-3 px-4 py-2 rounded">
            <span>
                {{ ux_icon('fa:user') }}
            </span>
            <span>
                {% if app.user %}
                    {{ app.user.firstname }}
                {% else %}
                    Inconnue
                {% endif %}
            </span>
            <span id="caret">
                {{ ux_icon('fa6-solid:caret-up') }}
            </span>
        </div>
        <div id="userAction" class="user-action">
            <a href={{ path("app_logout") }}>
                <div>
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30" width="60" height="60">
                        <path d="M13.970703 2 A 1.0001 1.0001 0 0 0 13.757812 2.0292969L5.7578125 4.0292969 A 1.0001 1.0001 0 0 0 5 5L5 25 A 1.0001 1.0001 0 0 0 5.7578125 25.970703L13.757812 27.970703 A 1.0001 1.0001 0 0 0 15 27L24 27C24.552 27 25 26.552 25 26L25 4C25 3.448 24.552 3 24 3L15 3 A 1.0001 1.0001 0 0 0 13.970703 2 z M 13 4.28125L13 25.71875L7 24.21875L7 5.78125L13 4.28125 z M 11 14 A 1 1 0 0 0 10 15 A 1 1 0 0 0 11 16 A 1 1 0 0 0 12 15 A 1 1 0 0 0 11 14 z" fill="#34D399" />
                    </svg>
                    <span>Se deconnecter</span>
                </div>
            </a>
            <a href="">
                <div>
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64" width="128" height="128">
                        <path d="M36 4C20 4 14 8 14 19L14 21.5L14 24L14 25.023438C13.592 25.666438 13 26.879 13 28.5C13 30.981 14.503656 32.697 15.222656 33.375C16.018656 35.442 17.406266 37.448172 18.947266 39.201172L18.505859 45.613281L1 51L1.4394531 53.660156C1.7594531 55.590156 3.430625 57 5.390625 57L39.210938 57C39.240938 56.9 39.280078 56.800938 39.330078 56.710938C39.090078 56.200938 38.869453 55.680391 38.689453 55.150391L36 54.269531L36 50.529297C36 48.829297 37.110937 47.319063 38.710938 46.789062C38.790937 46.549062 38.880469 46.310313 38.980469 46.070312L37.494141 45.613281L37.052734 39.201172C38.593734 37.447172 39.981344 35.440047 40.777344 33.373047C41.496344 32.696047 43 30.981 43 28.5C43 26.879 42.408 25.666438 42 25.023438L42 25L42 21.5L42 19C42 15.5 41 10 38 10L36 4 z M 19 15C19 15 23.5 16 28 16C32.5 16 36 15 36 15C38.423124 17.076963 38.918085 21.504359 39 24.060547L39 25.5L39.005859 25.695312C39.003321 25.747877 39 26 39 26L39.013672 25.996094L39.015625 26.050781L39.349609 26.464844C39.376609 26.497844 40 27.277 40 28.5C40 30.179 38.59875 31.300687 38.59375 31.304688L38.232422 31.578125L38.082031 32.007812C36.325031 37.054812 30.512516 41.321 29.228516 42L26.769531 42C25.485531 41.321 19.673016 37.054812 17.916016 32.007812L17.767578 31.578125L17.40625 31.304688C17.39325 31.293688 16 30.191 16 28.5C16 27.277 16.623719 26.497469 16.636719 26.480469L17 26.058594L17 26L17 22.650391C17.107981 19.980824 17.532442 16.467558 19 15 z M 49.146484 38L48.162109 41.001953C47.385109 41.221953 46.648031 41.535922 45.957031 41.919922L44.509766 41.132812C43.730766 40.709812 42.766625 40.847609 42.140625 41.474609L40.496094 43.119141L41.923828 45.933594C41.536828 46.624594 41.236625 47.367531 41.015625 48.144531L39.433594 48.611328C38.582594 48.862328 38 49.643297 38 50.529297L38 52.853516L41.001953 53.837891C41.221953 54.614891 41.535922 55.351969 41.919922 56.042969L41.132812 57.490234C40.709812 58.269234 40.847609 59.233375 41.474609 59.859375L43.119141 61.503906L45.933594 60.076172C46.624594 60.463172 47.367531 60.763375 48.144531 60.984375L48.611328 62.566406C48.862328 63.417406 49.643297 64 50.529297 64L52.853516 64L53.837891 60.998047C54.614891 60.778047 55.351969 60.464078 56.042969 60.080078L57.490234 60.867188C58.269234 61.290188 59.233375 61.152391 59.859375 60.525391L61.503906 58.880859L60.076172 56.066406C60.463172 55.375406 60.763375 54.632469 60.984375 53.855469L62.566406 53.388672C63.417406 53.137672 64 52.356703 64 51.470703L64 49.146484L60.998047 48.162109C60.778047 47.385109 60.464078 46.648031 60.080078 45.957031L60.867188 44.509766C61.290188 43.730766 61.152391 42.766625 60.525391 42.140625L58.880859 40.496094L56.066406 41.923828C55.375406 41.536828 54.632469 41.236625 53.855469 41.015625L53.388672 39.433594C53.137672 38.582594 52.356703 38 51.470703 38L49.146484 38 z M 21.761719 42.007812C23.856719 43.836813 25.778 45 26.5 45L29.5 45C30.222 45 32.143281 43.836813 34.238281 42.007812L34.544922 46.445312C33.401954 47.922734 31.231548 50 28 50C24.769445 50 22.598336 47.924609 21.455078 46.447266L21.761719 42.007812 z M 51 45.703125C53.925 45.703125 56.296875 48.075 56.296875 51C56.296875 53.925 53.925 56.296875 51 56.296875C48.075 56.296875 45.703125 53.925 45.703125 51C45.703125 48.075 48.075 45.703125 51 45.703125 z" fill="#34D399" />
                    </svg>
                    <span>Gérer utilisateur</span>
                </div>
            </a>
        </div>
    </div>
</nav>