{# Load stylesheet #}
<link rel="stylesheet" href={{ asset('style/partials/sidebar.css') }}>

{# Body of the sidebar menu #}
<aside class="sidebar expanded bg-success" id="sidebar">
    <div class="sidebar-header d-flex justify-content-center align-items-center">
        <div class="logo">
            <img src={{ asset('image/assets/logo_mps.png') }} alt="">
        </div>
    </div>
    <div class="sidebar-menu">
        <div class="item-group">
            <a href={{ path("app_home") }} class={{ app.current_route == "app_home" ? "active" : "" }} aria-label="Link to the dashboard">
                {{ ux_icon('ant-design:dashboard-filled') }}
                <div>Accueil</div>
            </a>
        </div>
        <div class="item-group">
            <h6 class="fonction">Ministère</h6>
            <a href="#" aria-label="Link to the humans resources">
                {{ ux_icon('fluent:people-list-32-filled') }}              
                <div>Résources humaines</div>
            </a>
            <a href="#" aria-label="Link to the infrastructure">
                {{ ux_icon('streamline:industry-innovation-and-infrastructure-solid') }}            
                <div>Infrastructure</div>
            </a>
            <div class="toggle-content">
                <label for="women-association" class="" aria-label="Link to the associations">
                    {{ ux_icon('mdi:women') }}
                    <div>Associations</div>
                    {{ ux_icon('weui:arrow-outlined') }}
                </label>
                <input type="checkbox" id="women-association" checked>
                <div class="toggle-item">
                    <a href={{ path("association_femme.home") }} class={{ app.current_route == "association_femme.home" ? "active" : "" }} aria-label="Link to the districts">
                        {{ ux_icon('mdi:women') }}
                        <div>Associations des femmes</div>
                    </a>
                    <a href="" aria-label="Link to the districts">
                        {{ ux_icon('fluent:people-list-32-filled') }}
                        <div>Association</div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="sidebar-toggle" aria-label="Minimize" data-toogle="close">
        <div id="minimize" class="d-flex justify-content-center align-items-center" data-arial="inverse">
            {{ ux_icon('weui:arrow-outlined') }}
        </div>
    </div>
</aside>

{# Load the javascript for interaction #}
<script src={{ asset("js/app/sidebar.js") }}></script>