{# Load stylesheet #}
<link rel="stylesheet" href={{ asset('style/partials/sidebar.css') }}>

{# Body of the sidebar menu #}
<aside class="sidebar expanded bg-success" id="sidebar">
    <div class="sidebar-header d-flex justify-content-center align-items-center">
        <div class="logo">
            <img src={{ asset('image/assets/logo_mps.png') }} alt="">
        </div>
        <h4>
            MPS
        </h4>
    </div>
    <div class="sidebar-menu">
        <div class="item-group">
            <a href={{ path("app_home") }} class="active" aria-label="Link to the dashboard">
                {{ ux_icon('ant-design:dashboard-filled') }}
                <div>Accueil</div>
            </a>
        </div>
        <div class="item-group">
            <h6 class="fonction">Ministère</h6>
            <a href="#" aria-label="Link to the humans resources">
                {{ ux_icon('fluent:people-list-32-filled') }}              
                <div>Résources humaines</div>
            </a>
            <a href="#" aria-label="Link to the infrastructure">
                {{ ux_icon('streamline:industry-innovation-and-infrastructure-solid') }}            
                <div>Infrastructure</div>
            </a>
            <a href="#" aria-label="Link to the regions">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="48" height="48">
                    <path d="M11.5 2C9.015 2 7 4.015 7 6.5C7 9.875 11.5 14.375 11.5 14.375C11.5 14.375 16 9.875 16 6.5C16 4.015 13.985 2 11.5 2 z M 11.5 5C12.328 5 13 5.672 13 6.5C13 7.328 12.328 8 11.5 8C10.672 8 10 7.328 10 6.5C10 5.672 10.672 5 11.5 5 z M 17.935547 5.6386719C17.973547 5.9216719 18 6.207 18 6.5C18 6.562 17.990281 6.6255 17.988281 6.6875C17.981281 6.9065 17.954828 7.1286094 17.923828 7.3496094C17.912828 7.4196094 17.903625 7.4885938 17.890625 7.5585938C17.236625 11.356594 13.390063 15.313063 12.914062 15.789062L12.492188 16.210938C11.944187 16.758938 11.055813 16.758938 10.507812 16.210938L10.085938 15.789062C9.7059375 15.409062 7.1779375 12.812609 5.8359375 9.8496094L5.8359375 9.8476562C5.5139375 9.1356563 5.2659531 8.4067344 5.1269531 7.6777344C3.7139531 9.1337344 2.3792031 10.865594 2.1582031 11.308594C1.8772031 11.873594 1.98925 12.280109 2.15625 12.537109L5 17.277344L5 19C5 19.39 5.2260781 19.74325 5.5800781 19.90625C8.9990781 21.48925 10.409609 22.052734 11.099609 22.052734C11.520609 22.052734 11.673609 21.843344 11.849609 21.527344C12.022609 21.277344 12.774609 20.462313 13.224609 20.070312C13.745609 20.303313 14.738719 20.874781 15.261719 21.175781C16.217719 21.726781 16.533547 21.90575 16.810547 21.96875C17.683547 22.16275 18.942187 21.313156 19.617188 20.785156C20.350188 20.211156 19.937063 19.486312 19.414062 18.570312C19.319063 18.403312 19.185844 18.168094 19.089844 17.996094C19.389844 17.569094 20.068859 16.789062 20.505859 16.289062C21.888859 14.706062 22.406031 14.113969 21.707031 13.292969L20.361328 11.947266C21.562328 10.537266 21.592344 10.436469 21.652344 10.230469C21.950344 9.2084688 22.500937 7.3277031 20.960938 6.5957031C20.692937 6.4337031 20.013547 6.1466719 17.935547 5.6386719 z M 8 16C8.552 16 9 16.448 9 17C9 17.552 8.552 18 8 18C7.448 18 7 17.552 7 17C7 16.448 7.448 16 8 16 z" fill="#FFFFFF" />
                </svg>                
                <div>Régions</div>
            </a>
            <a href="#" aria-label="Link to the districts">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30" width="60" height="60">
                    <path d="M15 2C10.582 2 7 5.582 7 10C7 16 14 18 14 22C14 22.552 14.448 23 15 23C15.552 23 16 22.552 16 22C16 18 23 16 23 10C23 5.582 19.418 2 15 2 z M 15 8C16.105 8 17 8.895 17 10C17 11.105 16.105 12 15 12C13.895 12 13 11.105 13 10C13 8.895 13.895 8 15 8 z M 9.3808594 18.457031C5.2258594 19.167031 2 20.696 2 23C2 26.282 8.54 28 15 28C21.46 28 28 26.282 28 23C28 20.696 24.774141 19.167031 20.619141 18.457031C20.538141 18.538031 20.456 18.618266 20.375 18.697266C19.828 19.236266 19.319156 19.742656 18.910156 20.222656C23.522156 20.765656 26 22.188 26 23C26 24.019 22.117 26 15 26C7.883 26 4 24.019 4 23C4 22.188 6.4778437 20.765656 11.089844 20.222656C10.679844 19.742656 10.171 19.236266 9.625 18.697266C9.545 18.618266 9.4628594 18.538031 9.3808594 18.457031 z" fill="#FFFFFF" />
                </svg>
                <div>Districts</div>
            </a>
        </div>
        <div class="item-group">
            <h6 class="fonction">Gestion des données</h6>
            <div class="toggle-content">
                <label for="women-association" class="" aria-label="Link to the associations">
                    {{ ux_icon('mdi:women') }}
                    <div>Associations des femmes</div>
                    {{ ux_icon('weui:arrow-outlined') }}
                </label>
                <input type="checkbox" id="women-association" checked>
                <div class="toggle-item">
                    <a href={{ path("association_femme.home") }} class="" aria-label="Link to the districts">
                        {{ ux_icon('ant-design:dashboard-filled') }}
                        <div>Dashboard</div>
                    </a>
                    <a href={{ path('association_femme.show') }} aria-label="Link to the districts">
                        {{ ux_icon('fluent:people-list-32-filled') }}
                        <div>Admnistration</div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="sidebar-toggle" aria-label="Minimize" data-toogle="close">
        <div id="minimize" class="d-flex justify-content-center align-items-center" data-arial="inverse">
            {{ ux_icon('weui:arrow-outlined') }}
        </div>
    </div>
</aside>

{# Load the javascript for interaction #}
<script src={{ asset("js/app/sidebar.js") }}></script>