<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        {# Library on line #}
        <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
        <link href="https://cdn.datatables.net/v/bs5/jq-3.7.0/dt-2.2.2/af-2.7.0/b-3.2.2/cr-2.0.4/date-1.5.5/fc-5.0.4/fh-4.0.1/kt-2.12.1/r-3.0.4/rg-1.5.1/rr-1.5.0/sc-2.4.3/sb-1.8.2/sp-2.3.3/sl-3.0.0/sr-1.4.1/datatables.min.css" rel="stylesheet" integrity="sha384-ifuM4tl1ZF3MhLcsxQAJ7ltUzhMtKII9P219dJTiXHOXmMajw/Ctfgq57Picbrle" crossorigin="anonymous">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
        <script src="https://cdn.datatables.net/v/bs5/jq-3.7.0/dt-2.2.2/af-2.7.0/b-3.2.2/cr-2.0.4/date-1.5.5/fc-5.0.4/fh-4.0.1/kt-2.12.1/r-3.0.4/rg-1.5.1/rr-1.5.0/sc-2.4.3/sb-1.8.2/sp-2.3.3/sl-3.0.0/sr-1.4.1/datatables.min.js" integrity="sha384-xBCka6txk0O2lDJk97gsEkAxZc/p3GuPYtiLHUpedb7w/NaJS+AmzaxngU5UIdQ0" crossorigin="anonymous"></script>
        {# Library on local #}
        <link rel="stylesheet" href={{ asset("style/library/bootstrap.min.css") }} crossorigin="anonymous">
        <link href={{ asset("style/library/datatables.min.css") }} rel="stylesheet" crossorigin="anonymous">
        <link rel="stylesheet" href={{ asset("style/app/app.css") }}>
        {# Chargement des script JS local #}
        <script src={{ asset("js/library/jquery.min.js") }}></script>
        <script src={{ asset("js/library/bootstrap.min.js") }} crossorigin="anonymous"></script>
        <script src={{ asset("js/library/datatables.min.js") }} crossorigin="anonymous"></script>

        {% block stylesheets %}{% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body>
        {# entry point for the body of the view #}  
        <section class="app-section">
            {% if app.current_route != "app_login" and app.current_route != "app_register" %}
                {% include 'partials/sidebar.html.twig' %}
            {% endif %}
            <div class="container-section">
                {% block body %}{% endblock %}
            </div>
        </section>

        {# Chargement de javascript #}
        <script src={{ asset("js/partials/sidebar.js") }}></script>
        <script src={{ asset("js/partials/navbar.js") }}></script>
    </body>
</html>
